'.text.html.php':
  # TagField
  'TagField':
    'prefix': 'tagfield'
    'body': """
    TagField::create(
    \t\'${1:name}\',
    \t\'${2:null}\',
    \t${3:null},
    \t${4}
    )$0
    """
  # Linkable
  'LinkField':
    'prefix': 'linkfield'
    'body': """
    LinkField::create(
    \t\'${1:name}ID\',
    \t\'${2:title}\'
    )$0
    """
  'EmbeddedObjectField':
    'prefix': 'embeddedobjectfield'
    'body': """
    EmbeddedObjectField::create(
    \t\'${1:name}\',
    \t\'${2:title}\',
    \t${3}
    )$0
    """
