######
#
# 1. TagField
#
######

'.text.html.php.tagfl_1':
  'TagField (Tagfield)':
    'prefix': 'tagfield'
    'body': """
    TagField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\',
    \t${3:null},
    \t${4}
    )${0}
    """
  'StringTagField (Tagfield)':
    'prefix': 'stringtagfield'
    'body': """
    StringTagField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\',
    \t${3:array()},
    \texplode(',', $this->${1:name})
    )${0}
    """
  'setShouldLazyLoad (Tagfield)':
    'prefix': 'setshouldlazyload'
    'body': '->setShouldLazyLoad(${1:true})${0}'
  'setCanCreate (Tagfield)':
    'prefix': 'setcancreate'
    'body': '->setCanCreate(${1:true})${0}'

######
#
# 2. Linkable
#
######

'.text.html.php.lnkfl_1':
  'LinkField (Linkable)':
    'prefix': 'linkfield'
    'body': """
    LinkField::create(
    \t\'${1:name}ID\',
    \t\'${2:${1:title}}\'
    )${0}
    """
  'EmbeddedObjectField (Linkable)':
    'prefix': 'embeddedobjectfield'
    'body': """
    EmbeddedObjectField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\',
    \t${3}
    )${0}
    """

######
#
# 3. SortableUploadField
#
######

'.text.html.php.srtfl_1':
  'SortableUploadField (SortableUploadField)':
    'prefix': 'sortableuploadfield'
    'body': """
    SortableUploadField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\'
    )${0}
    """

######
#
# 4. Focuspoint
#
######

'.text.html.ss.fp_2 .variable':
  # 3.2 onwards
  'Focus Fill Image':
    'prefix': 'focusfill'
    'body': 'FocusFill(${1:width},${2:${1:height}})${0}'
  'Focus Fill Max Image':
    'prefix': 'focusfillmax'
    'body': 'FocusFillMax(${1:width},${2:${1:height}})${0}'
  'Focus Crop Width Image':
    'prefix': 'focuscropwidth'
    'body': 'FocusCropWidth(${1:width})${0}'
  'Focus Crop Height Image':
    'prefix': 'focuscropheight'
    'body': 'FocusCropHeight(${1:width})${0}'
'.text.html.ss.fp_1 .variable':
  # 3.0 - 3.1
  'Cropped Focused Image':
    'prefix': 'croppedfocusedimage'
    'body': 'CroppedFocusedImage(${1:width},${2:${1:height}})${0}'

######
#
# 5. Gridfield extensions
#
######

'.text.html.php.gridfl_1':
  'GridFieldAddExistingSearchButton':
    'prefix': 'gridfieldaddexistingsearchbutton'
    'body': 'new GridFieldAddExistingSearchButton()'
  'GridFieldTitleHeader':
    'prefix': 'gridfieldtitleheader'
    'body': 'new GridFieldTitleHeader()'
  'GridFieldEditableColumns':
    'prefix': 'gridfieldeditablecolumns'
    'body': 'new GridFieldEditableColumns()'
  'GridFieldDeleteAction':
    'prefix': 'gridfielddeleteaction'
    'body': 'new GridFieldDeleteAction()'
  'GridFieldAddNewInlineButton':
    'prefix': 'gridfieldaddnewinlinebutton'
    'body': 'new GridFieldAddNewInlineButton()'
  'GridFieldAddNewMultiClass':
    'prefix': 'gridfieldaddnewmulticlass'
    'body': 'new GridFieldAddNewMultiClass())'
  'GridFieldOrderableRows':
    'prefix': 'gridfieldorderablerows'
    'body': 'new GridFieldOrderableRows(${1:\'Sort\'})'
