'.text.html.php':
  # TagField
  'TagField (Tagfield)':
    'prefix': 'tagfield'
    'body': """
    TagField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\',
    \t${3:null},
    \t${4}
    )${0}
    """
  'StringTagField (Tagfield)':
    'prefix': 'stringtagfield'
    'body': """
    StringTagField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\',
    \t${3:array()},
    \texplode(',', $this->${1:name})
    )${0}
    """
  'setShouldLazyLoad (Tagfield)':
    'prefix': 'setshouldlazyload'
    'body': '->setShouldLazyLoad(${1:true})${0}'
  'setCanCreate (Tagfield)':
    'prefix': 'setcancreate'
    'body': '->setCanCreate(${1:true})${0}'
  # Linkable
  'LinkField (Linkable)':
    'prefix': 'linkfield'
    'body': """
    LinkField::create(
    \t\'${1:name}ID\',
    \t\'${2:${1:title}}\'
    )${0}
    """
  'EmbeddedObjectField (Linkable)':
    'prefix': 'embeddedobjectfield'
    'body': """
    EmbeddedObjectField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\',
    \t${3}
    )${0}
    """
  # SortableUploadField
  'SortableUploadField (SortableUploadField)':
    'prefix': 'sortableuploadfield'
    'body': """
    SortableUploadField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\'
    )${0}
    """
'.text.html.ss .variable':
  # Focuspoint 3.2
  'Focus Fill Image 3.2+':
    'prefix': 'focusfill'
    'body': 'FocusFill(${1:width},${2:${1:height}})${0}'
  'Focus Fill Max Image 3.2+':
    'prefix': 'focusfillmax'
    'body': 'FocusFillMax(${1:width},${2:${1:height}})${0}'
  'Focus Crop Width Image 3.2+':
    'prefix': 'focuscropwidth'
    'body': 'FocusCropWidth(${1:width})${0}'
  'Focus Crop Height Image 3.2+':
    'prefix': 'focuscropheight'
    'body': 'FocusCropHeight(${1:width})${0}'
  # Focuspoint 3.0 - 3.1
  'Cropped Focused Image 3.0 - 3.1':
    'prefix': 'croppedfocusedimage'
    'body': 'CroppedFocusedImage(${1:width},${2:${1:height}})${0}'
