'.text.html.php':
  'LinkField':
    'prefix': 'linkfield'
    'body': """
    LinkField::create(
    \t\'${1:name}\',
    \t\'${2:title}\'
    )
    $0
    """
  'EmbeddedObjectField':
    'prefix': 'embeddedobjectfield'
    'body': """
    EmbeddedObjectField::create(
    \t\'${1:name}\',
    \t\'${2:title}\',
    \t${3}
    )
    $0
    """
