'.text.html.php':
  'Class & Controller Silverstripe':
    'prefix': 'classcontroller'
    'body': """
    /**
     * ${3:Description}
     *
     * @package silverstripe
     * @subpackage ${4:mysite}
     */
    class $1 extends ${2:Page}
    {
    \t${0}
    }
    class ${1}_Controller extends ${2:Page}_Controller
    {
    \tfunction init() {
    \t\tparent::init();
    \t}
    }
    """
  'singular_name':
    'prefix': 'singular_name '
    'body': """
    /**
     * Singular name for CMS
     * @var string
     */
    private static $singular_name = \'${1}\';$0
    """
  'plural_name':
    'prefix': 'plural_name '
    'body': """
    /**
     * Plural name for CMS
     * @var string
     */
    private static $plural_name = \'${1}\';$0
    """
  'db':
    'prefix': 'db '
    'body': """
    /**
     * Database fields
     * @var array
     */
    private static \\$db = array(
    \t\'${1}\' => \'${2}\',
    );$0
    """
  'default_sort':
    'prefix': 'default_sort '
    'body': """
    /**
     * Default sort ordering
     * @var string
     */
    private static $default_sort = \'${1} ${2:ASC}\';$0
    """
  'hide_ancestor':
    'prefix': 'hide_ancestor'
    'body': """
    private static \$hide_ancestor = \'\${1:PageType}\';$0
    """
  'has_one':
    'prefix': 'has_one'
    'body': """
    /**
     * Has_one relationship
     * @var array
     */
    private static \\$has_one = array(
    \t\'${1}\' => \'${2}\',
    );$0
    """
  'has_many':
    'prefix': 'has_many'
    'body': """
    /**
     * Has_many relationship
     * @var array
     */
    private static \\$has_many = array(
    \t\'${1}\' => \'${2}\',
    );$0
    """
  'many_many':
    'prefix': 'many_many'
    'body': """
    /**
     * Many_many relationship
     * @var array
     */
    private static \\$many_many = array(
    \t\'${1}\' => \'${2}\',
    );$0
    """
  'many_many_extraFields':
    'prefix': 'many_many_extrafields'
    'body': """
    /**
     * \{@inheritdoc \}
     * @var array
     */
    private static \\$many_many_extraFields = array(
    \t\'${1}\' => array(
    \t\t'${2:Sort}' => '${3:Int}'
    \t)
    );$0
    """
  'belongs_to':
    'prefix': 'belongs_to'
    'body': """
    /**
     * Belongs_to relationship
     * @var array
     */
    private static \\$belongs_to = array(
    \t\'${1}\' => \'${2}\',
    );
    $0
    """
  'belongs_many_many':
    'prefix': 'belongs_many_many'
    'body': """
    /**
     * Belongs_many_many relationship
     * @var array
     */
    private static \\$belongs_many_many = array(
    \t\'${1}\' => \'${2}\',
    );$0
    """

  # Permissions
  'canView':
    'prefix': 'canview'
    'body': """
    /**
     * Viewing Permissions
     * @return boolean
     */
    public function canView($member = null)
    {
    \treturn ${1};
    }$0
    """
  'canEdit':
    'prefix': 'canedit'
    'body': """
    /**
     * Editing Permissions
     * @return boolean
     */
    public function canEdit($member = null)
    {
    \treturn ${1};
    }$0
    """
  'canDelete':
    'prefix': 'candelete'
    'body': """
    /**
     * Deleting Permissions
     * @return boolean
     */
    public function canDelete($member = null)
    {
    \treturn ${1};
    }$0
    """
  'canCreate':
    'prefix': 'cancreate'
    'body': """
    /**
     * Creating Permissions
     * @return boolean
     */
    public function canCreate($member = null)
    {
    \treturn ${1};
    }$0
    """
  'permissionCheck':
    'prefix': 'permissioncheck'
    'body': """
    Permission::check(${1:string|array}, ${2:'any'}, ${3:$member})$0
    """
