'.text.html.php':
  #  Fields
  'HTMLEditorField':
    'prefix': 'htmlfield'
    'body': 'HtmlEditorField::create(\'${1:name}\',\'${2:title}\')$0'
  'UploadField':
    'prefix': 'uploadfield'
    'body': 'UploadField::create(\'${1:name}\',\'${2:title}\'))$0'
  'TextField':
    'prefix': 'textfield'
    'body': 'TextField::create(\'${1:name}\',\'${2:title}\')$0'
  'TextareaField':
    'prefix': 'textareafield'
    'body': 'TextareaField::create(\'${1:name}\',\'${2:title}\')$0'
  'OptionsetField':
    'prefix': 'optionsetfield'
    'body': """
    OptionsetField::create(
    \t\'${1:name}\',
    \t\'${2:title}\',
    \t\'${3:datalist}\'
    )$0
    """
  'DropdownField':
    'prefix': 'dropdownfield'
    'body': """
    DropdownField::create(
    \t\'${1:name}\',
    \t\'${2:title}\',
    \t\'${3:datalist}\'
    )$0
    """
  'GridField':
    'prefix': 'gridfield'
    'body': """
    GridField::create(
    \t\'${1:name}\',
    \t\'${2:title}\',
    \t\'${3:datalist}\',
    \t\'${4:configuration}\'
    )$0
    """

  #  Tabs
  'addFieldToTab':
    'prefix': 'addfield'
    'body': """
    addFieldToTab(
    \t\'${1:Root.Main}\',
    \t$0,
    \t\'${3:insertBefore}\'
    );
    """
  'addFieldsToTab':
    'prefix': 'addfields'
    'body': """
    addFieldsToTab(
    \t\'${1:Root.Main}\',
    \tarray(
    \t\t$0
    \t)
    );
    """

  'getCMSFields':
    'prefix': 'getcmsfields'
    'body': """
    /**
     * CMS Fields
     * @return FieldList
     */
    function getCMSFields()
    {
    \t\\$fields = parent::getCMSFields();
    \t\\$fields->$0
    \treturn \\$fields;
    }
    """
  'updateCMSFields':
    'prefix': 'updatecmsfields'
    'body': """
    /**
     * Update Fields
     * @return FieldList
     */
    function updateCMSFields(FieldList \\$fields)
    {
    \t\\$fields->$0
    \treturn \\$fields;
    }
    """
