'.text.html.php':
  # Debug Tools
  'Debug-message':
    'prefix': 'message'
    'body': 'Debug::message(${1});${0}'
  'Debug-show':
    'prefix': 'show'
    'body': 'Debug::show(${1});${0}'
  'Debug-log':
    'prefix': 'log'
    'body': 'Debug::log(${1});${0}'
  'Debug-dump':
    'prefix': 'dump '
    'body': 'Debug::dump(${1});${0}'
