'.text.html.php':
  #  Fields
  'HTMLEditorField':
    'prefix': 'htmlfield'
    'body': """
    HtmlEditorField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\'
    )${0}
    """
  'UploadField':
    'prefix': 'uploadfield'
    'body': """
    UploadField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\'
    )${0}
    """
  'setAllowedMaxFileNumber':
    'prefix': 'setallowedmaxfilenumber'
    'body': '->setAllowedMaxFileNumber(${1:null})${0}'
  'setCanUpload':
    'prefix': 'setcanupload'
    'body': '->setCanUpload(${1:true})${0}'
  'setCanAttachExisting':
    'prefix': 'setcanattachexisting'
    'body': '->setCanAttachExisting(${1:true})${0}'
  'TextField':
    'prefix': 'textfield'
    'body': """
    TextField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\'
    )${0}
    """
  'EmailField':
    'prefix': 'emailfield'
    'body': """
    EmailField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\'
    )${0}
    """
  'ReadonlyField':
    'prefix': 'readonlyfield'
    'body': """
    ReadonlyField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\'
    )${0}
    """
  'NumericField':
    'prefix': 'numericfield'
    'body': """
    NumericField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\'
    )${0}
    """
  'NumericField_Readonly':
    'prefix': 'numericfield_readonly'
    'body': """
    NumericField_Readonly::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\'
    )${0}
    """
  'CheckboxField':
    'prefix': 'checkboxfield'
    'body': """
    CheckboxField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\'
    )${0}
    """
  'CheckboxField_Readonly':
    'prefix': 'checkboxfield_readonly'
    'body': """
    CheckboxField_Readonly::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\'
    )${0}
    """
  'NullableField':
    'prefix': 'nullablefield'
    'body': """
    NullableField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\'
    )${0}
    """
  'TextareaField':
    'prefix': 'textareafield'
    'body': """
    TextareaField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\'
    )${0}
    """
  'TreeDropdownField':
    'prefix': 'treedropdownfield'
    'body': """
    TreeDropdownField::create(
    \t\'${1:name}ID\',
    \t\'${2:${1:title}}\',
    \t\'${3:SiteTree}\'
    )${0}
    """
  'TreeDropdownField_Readonly':
    'prefix': 'treedropdownfield_readonly'
    'body': """
    TreeDropdownField_Readonly::create(
    \t\'${1:name}ID\',
    \t\'${2:${1:title}}\',
    \t\'${3:SiteTree}\'
    )${0}
    """
  'DropdownField':
    'prefix': 'dropdownfield'
    'body': """
    DropdownField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\',
    \t\'${3:datalist}\'
    )${0}
    """
  'LookupField':
    'prefix': 'lookupfield'
    'body': """
    LookupField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\',
    \t\'${3:datalist}\'
    )${0}
    """
  'ListboxField':
    'prefix': 'listboxfield'
    'body': """
    ListboxField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\',
    \t\'${3:datalist}\'
    )${0}
    """
  'GroupedDropdownField':
    'prefix': 'groupeddropdownfield'
    'body': """
    GroupedDropdownField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\',
    \t\'${3:datalist}\'
    )${0}
    """
  'OptionsetField':
    'prefix': 'optionsetfield'
    'body': """
    OptionsetField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\',
    \t\'${3:datalist}\'
    )${0}
    """
  'CheckboxSetField':
    'prefix': 'checkboxsetfield'
    'body': """
    CheckboxSetField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\',
    \t\'${3:datalist}\'
    )${0}
    """
  'HeaderField':
    'prefix': 'headerfield'
    'body': """
    HeaderField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\'
    )${0}
    """
  'HiddenField':
    'prefix': 'hiddenfield'
    'body': """
    HiddenField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\'
    )${0}
    """
  'LabelField':
    'prefix': 'labelfield'
    'body': """
    LabelField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\'
    )${0}
    """
  'GridField':
    'prefix': 'gridfield'
    'body': """
    GridField::create(
    \t\'${1:name}\',
    \t\'${2:${1:title}}\',
    \t\\$this->${1}(),
    \t${4:GridFieldConfig_Base::create()}
    )${0}
    """
  'GridFieldConfig_Base':
    'prefix': 'gridfieldconfig_base'
    'body': 'GridFieldConfig_Base::create(${1})${0}'
  'GridFieldConfig_RecordEditor':
    'prefix': 'gridfieldconfig_recordeditor'
    'body': 'GridFieldConfig_RecordEditor::create(${1})${0}'
  'GridFieldConfig_RelationEditor':
    'prefix': 'gridfieldconfig_relationeditor'
    'body': 'GridFieldConfig_RelationEditor::create(${1})${0}'
  'GridFieldConfig_RecordViewer':
    'prefix': 'gridfieldconfig_recordviewer'
    'body': 'GridFieldConfig_RecordViewer::create(${1})${0}'

  #  Tabs
  'addFieldToTab':
    'prefix': 'addfield'
    'body': """
    addFieldToTab(
    \t\'${1:Root.Main}\',
    \t${0},
    \t\'${3:insertBefore}\'
    );
    """
  'addFieldsToTab':
    'prefix': 'addfields'
    'body': """
    addFieldsToTab(
    \t\'${1:Root.Main}\',
    \tarray(
    \t\t${0}
    \t)
    );
    """

  'getCMSFields':
    'prefix': 'getcmsfields'
    'body': """
    /**
     * CMS Fields
     * @return FieldList
     */
    public function getCMSFields()
    {
    \t\\$fields = parent::getCMSFields();
    \t\\$fields->${0}
    \treturn \\$fields;
    }
    """
  'getSettingsFields':
    'prefix': 'getsettingsfields'
    'body': """
    /**
     * Settings Tab Fields
     * @return FieldList
     */
    public function getSettingsFields()
    {
    \t\\$fields = parent::getSettingsFields();
    \t\\$fields->${0}
    \treturn \\$fields;
    }
    """
  'updateCMSFields':
    'prefix': 'updatecmsfields'
    'body': """
    /**
     * Update Fields
     * @return FieldList
     */
    public function updateCMSFields(FieldList \\$fields)
    {
    \t\\$fields->${0}
    \treturn \\$fields;
    }
    """
  'getEditForm':
    'prefix': 'geteditform'
    'body': """
    /**
     * @param Int $id
     * @param FieldList $fields
     * @return Form
     */
    public function getEditForm($id = null, $fields = null)
    {
    \t\\$form = parent::getEditForm($id, $fields);
    \t${0}
    \treturn \\$form;
    }
    """
