######
#
# 1. SS
#
######

'.text.html.ss.ssf_2-4':
  'Control':
    'prefix': 'control '
    'body': """
    <% control ${1} %>
    \t${2}
    <% end_control %>
    """
  'Loop':
    'prefix': 'loop '
    'body': """
    <% control ${1} %>
    \t${2}
    <% end_control %>
    """
  'With':
    'prefix': 'with '
    'body': """
    <% control ${1} %>
    \t${2}
    <% end_control %>
    """

######
#
# 2. PHP
#
######

# '.text.html.php.ssf_2-4':
