######
#
# 1. SS
#
######

'.text.html.php.ssf_3-2_ .variable':
  # Image manipulation 3.2
  'Scale Width Image':
    'prefix': 'scalewidth'
    'body': 'ScaleWidth(${1:width})${0}'
  'Scale Max Width Image':
    'prefix': 'scalemaxwidth'
    'body': 'ScaleMaxWidth(${1:width})${0}'
  'Scale Height Image':
    'prefix': 'scaleheight'
    'body': 'ScaleHeight(${1:height})${0}'
  'Scale Max Height Image':
    'prefix': 'scalemaxheight'
    'body': 'ScaleMaxHeight(${1:height})${0}'
  'Fit Image':
    'prefix': 'fit'
    'body': 'Fit(${1:width},${2:${1:height}})${0}'
  'Fit Max Image':
    'prefix': 'fitmax'
    'body': 'FitMax(${1:width},${2:${1:height}})${0}'
  'Fill Image':
    'prefix': 'fill'
    'body': 'Fill(${1:width},${2:${1:height}})${0}'
  'Fill Max Image':
    'prefix': 'fillmax'
    'body': 'FillMax(${1:width},${2:${1:height}})${0}'
  'Crop Width Image':
    'prefix': 'cropwidth'
    'body': 'CropWidth(${1:width})${0}'
  'Crop Height Image':
    'prefix': 'cropheight'
    'body': 'CropHeight(${1:width})${0}'
  'Pad Image':
    'prefix': 'pad'
    'body': 'Pad(${1:width},${2:${1:height}},${3:hex})${0}'

######
#
# 2. PHP
#
######

# '.text.html.php.ssf3-2':
