######
#
# 1. SS
#
######

'.text.html.ss':
  # Conditional Logic
  'if':
    'prefix': 'if '
    'body': """
    <% if ${1} %>
    \t${2}
    <% end_if %>
    """
  'if not':
    'prefix': 'ifnot '
    'body': """
    <% if not ${1} %>
    \t${2}
    <% end_if %>
    """
  'if else':
    'prefix': 'ifelse '
    'body': """
    <% if ${1} %>
    \t${2}
    <% else %>
    \t${3}
    <% end_if %>
    """
  'else':
    'prefix': 'else '
    'body': '<% else %>\n\t${0}'
  # Includes
  'Include':
    'prefix': 'include '
    'body': '<% include ${1} %>${0}'
  'Require themedCSS':
    'prefix': 'requirethemedcss'
    'body': '<% require themedCSS(\'${1}\') %>${0}'
  'Require Javascript':
    'prefix': 'requirejavascript'
    'body': '<% require javascript(\'${1}\') %>${0}'
  'Require CSS':
    'prefix': 'requirecss'
    'body': '<% require css(\'${1}\') %>${0}'
  'Base Tag':
    'prefix': 'basetag'
    'body': '<% base_tag %>${0}'

'.text.html.ss .variable, .text.html.ss .control':
  # General Variables
  'CurrentMember':
    'prefix': 'currentmember'
    'body': 'CurrentMember'
  'Title':
    'prefix': 'title'
    'body': 'Title'
  'Menu Title':
    'prefix': 'menutitle'
    'body': 'MenuTitle'
  'Content':
    'prefix': 'content'
    'body': 'Content'
  'Current SiteConfig':
    'prefix': 'siteconfig'
    'body': 'SiteConfig'
  'MetaTags':
    'prefix': 'metatags'
    'body': 'MetaTags'
  'Relative Link':
    'prefix': 'link'
    'body': 'Link'
  'Absolute Link':
    'prefix': 'absolutelink'
    'body': 'AbsoluteLink'
  'isSection Linking Mode':
    'prefix': 'issection'
    'body': 'isSection'
  'isCurrent Linking Mode':
    'prefix': 'iscurrent'
    'body': 'isCurrent'
  'inSection Linking Mode':
    'prefix': 'insection'
    'body': 'inSection(${1:page-url})${0}'
  'URLSegment':
    'prefix': 'urlsegment'
    'body': 'URLSegment'
  'ClassName':
    'prefix': 'classname'
    'body': 'ClassName'
  # Children loop
  'Children':
    'prefix': 'children'
    'body': 'Children'
  'ChildrenOf':
    'prefix': 'childrenof'
    'body': 'ChildrenOf(${1:page-url})${0}'
  'AllChildren':
    'prefix': 'allchildren'
    'body': 'AllChildren'
  'Menu':
    'prefix': 'menu'
    'body': 'Menu(${1:page-url})${0}'
  'Page':
    'prefix': 'page'
    'body': 'Page(${1:page-url})${0}'
  'Level':
    'prefix': 'level'
    'body': 'Level(${1:1})${0}'
  # Scope traverse
  'Traverse Up Scope':
    'prefix': 'up'
    'body': 'Up'
  'Current Object Scope':
    'prefix': 'me'
    'body': 'Me'
  'Top Level Scope':
    'prefix': 'top'
    'body': 'Top'
  # Breadcrumbs
  'Breadcrumbs':
    'prefix': 'breadcrumbs'
    'body': 'Breadcrumbs'
  # Form
  'Form':
    'prefix': 'form'
    'body': 'Form'
  # Formating
  'Limit Word Count':
    'prefix': 'limitwordcount'
    'body': 'LimitWordCount(${1:26},${2:\'...\'})${0}'
  'Limit Characters':
    'prefix': 'limitcharacters'
    'body': 'LimitCharacters(${1:20},${2:\'...\'})${0}'
  'Escape XML':
    'prefix': 'escapexml'
    'body': 'EscapeXML'
  'First Paragraph':
    'prefix': 'firstparagraph'
    'body': 'FirstParagraph'
  'No HTML':
    'prefix': 'nohtml'
    'body': 'NoHTML'

'.text.html.ss .variable':
  # Image Metadata
  'Image Width':
    'prefix': 'width'
    'body': 'Width'
  'Image Height':
    'prefix': 'height'
    'body': 'Height'
  'Image Orientation':
    'prefix': 'orientation'
    'body': 'Orientation'
  'Image Filename':
    'prefix': 'filename'
    'body': 'Filename'
  'Image URL':
    'prefix': 'url'
    'body': 'URL'

######
#
# 2. PHP
#
######

'.text.html.php':
  '<?php …':
    'prefix': 'php' # Overrides standard php to exclude ?>
    'body': '\<?php\n${0}'
  # Debug Tools
  'Debug-message':
    'prefix': 'message'
    'body': 'Debug::message(${1});${0}'
  'Debug-show':
    'prefix': 'show'
    'body': 'Debug::show(${1});${0}'
  'Debug-log':
    'prefix': 'log'
    'body': 'Debug::log(${1});${0}'
  'Debug-dump':
    'prefix': 'dump '
    'body': 'Debug::dump(${1});${0}'
  'Class DataObject Silverstripe':
    'prefix': 'classdataobject'
    'body': """
    /**
     * ${3:Description}
     *
     * @package silverstripe
     * @subpackage ${4:mysite}
     */
    class ${1} extends ${2:DataObject}
    {
    \t${0}
    }
    """
  'onBeforeWrite':
    'prefix': 'onbeforewrite'
    'body': """
    /**
     * Event handler called before writing to the database.
     */
    public function onBeforeWrite()
    {
    \tparent::onBeforeWrite();
    \t${0}
    }
    """
  'onAfterWrite':
    'prefix': 'onafterwrite'
    'body': """
    /**
     * Event handler called after writing to the database.
     */
    public function onAfterWrite()
    {
    \tparent::onAfterWrite();
    \t${0}
    }
    """
  'onBeforeDelete':
    'prefix': 'onbeforedelete'
    'body': """
    /**
     * Event handler called before deleting from the database.
     */
    public function onBeforeDelete()
    {
    \tparent::onBeforeDelete();
    \t${0}
    }
    """
  'onAfterDelete':
    'prefix': 'onafterdelete'
    'body': """
    /**
     * Event handler called after deleting from the database.
     */
    public function onAfterDelete()
    {
    \tparent::onAfterDelete();
    \t${0}
    }
    """

  # translate
  'Main translator function':
    'prefix': '_t'
    'body': '_t(${1}, ${2})${0}'

  'Current SiteConfig':
    'prefix': 'siteconfig'
    'body': 'SiteConfig::current_site_config()'
