######
#
# 1. SS
#
######

'.text.html.ss.ssf_3-0_3-1':
  'Set Width Image':
    'prefix': 'setwidth'
    'body': 'SetWidth(${1:width})${0}'
  'Set Height Image':
    'prefix': 'setheight'
    'body': 'SetHeight(${1:height})${0}'
  'Set Size Image':
    'prefix': 'setsize'
    'body': 'SetSize(${1:width},${2:${1:height}})${0}'
  'Set Ratio Size Image':
    'prefix': 'setratiosize'
    'body': 'SetRatioSize(${1:width},${2:${1:height}})${0}'
  'Cropped Image':
    'prefix': 'croppedimage'
    'body': 'CroppedImage(${1:width},${2:${1:height}})${0}'
  'Padded Image':
    'prefix': 'paddedimage'
    'body': 'PaddedImage(${1:width},${2:${1:height}},${3:hex})${0}'

######
#
# 2. PHP
#
######

# '.text.html.php.ss_3-0':
