'.text.html.ss':
  # scope 2.4
  'Control 2.4':
    'prefix': 'control '
    'body': """
    <% control ${1} %>
    \t${2}
    <% end_control %>
    """
  # scope 3.0 +
  'Loop 3.0 +':
    'prefix': 'loop '
    'body': """
    <% loop ${1} %>
    \t${2}
    <% end_loop %>
    """
  'With 3.0 +':
    'prefix': 'with '
    'body': """
    <% with ${1} %>
    \t${2}
    <% end_with %>
    """
  # Conditional Logic
  'if':
    'prefix': 'if '
    'body': """
    <% if ${1} %>
    \t${2}
    <% end_if %>
    """
  'if not':
    'prefix': 'ifnot '
    'body': """
    <% if not ${1} %>
    \t${2}
    <% end_if %>
    """
  'if else':
    'prefix': 'ifelse '
    'body': """
    <% if ${1} %>
    \t${2}
    <% else %>
    \t${3}
    <% end_if %>
    """
  'else':
    'prefix': 'else '
    'body': '<% else %>\n\t${0}'
  # Includes
  'include':
    'prefix': 'include '
    'body': '<% include ${1} %>${0}'
  'Base Tag':
    'prefix': 'basetag'
    'body': '<% base_tag %>${0}'

'.text.html.ss .variable, .text.html.ss .control':
  # General Variables
  'CurrentMember':
    'prefix': 'currentmember'
    'body': 'CurrentMember'
  'Title':
    'prefix': 'title'
    'body': 'Title'
  'Menu Title':
    'prefix': 'menutitle'
    'body': 'MenuTitle'
  'Content':
    'prefix': 'content'
    'body': 'Content'
  'SiteConfig':
    'prefix': 'siteconfig'
    'body': 'SiteConfig'
  'MetaTags':
    'prefix': 'siteconfig'
    'body': 'SiteConfig'
  'Relative Link':
    'prefix': 'link'
    'body': 'Link'
  'Absolute Link':
    'prefix': 'absolutelink'
    'body': 'AbsoluteLink'
  'isSection Linking Mode':
    'prefix': 'issection'
    'body': 'isSection'
  'isCurrent Linking Mode':
    'prefix': 'iscurrent'
    'body': 'isCurrent'
  'inSection Linking Mode':
    'prefix': 'insection'
    'body': 'inSection(${1:page-url})${0}'
  'URLSegment':
    'prefix': 'urlsegment'
    'body': 'URLSegment'
  'ClassName':
    'prefix': 'classname'
    'body': 'ClassName'
  # Children loop
  'Children':
    'prefix': 'children'
    'body': 'Children'
  'ChildrenOf':
    'prefix': 'childrenof'
    'body': 'ChildrenOf(${1:page-url})${0}'
  'AllChildren':
    'prefix': 'allchildren'
    'body': 'AllChildren'
  'Menu':
    'prefix': 'menu'
    'body': 'Menu(${1:page-url})${0}'
  'Page':
    'prefix': 'page'
    'body': 'Page(${1:page-url})${0}'
  'Level':
    'prefix': 'level'
    'body': 'Level(${1:1})${0}'
  # Scope traverse
  'Traverse Up Scope':
    'prefix': 'up'
    'body': 'Up'
  'Current Object Scope':
    'prefix': 'me'
    'body': 'Me'
  'Top Level Scope':
    'prefix': 'top'
    'body': 'Top'
  # Breadcrumbs
  'Breadcrumbs':
    'prefix': 'breadcrumbs'
    'body': 'Breadcrumbs'
  # Form
  'Form':
    'prefix': 'form'
    'body': 'Form'
  # Formating
  'LimitWordCount':
    'prefix': 'limitwordcount'
    'body': 'LimitWordCount(${1:26},${1:\'...\'})'
  'LimitCharacters':
    'prefix': 'limitcharacters'
    'body': 'LimitCharacters(${1:20},${1:\'...\'})'
  'EscapeXML'
    'prefix': 'escapexml'
    'body': 'EscapeXML'
  'FirstParagraph':
    'prefix': 'firstparagraph'
    'body': 'FirstParagraph'
  'NoHTML':
    'prefix': 'nohtml'
    'body': 'NoHTML'

'.text.html.ss .variable':
  # Image manipulation 3.2
  'Scale Width Image 3.2+':
    'prefix': 'scalewidth'
    'body': 'ScaleWidth(${1:width})${0}'
  'Scale Max Width Image 3.2+':
    'prefix': 'scalemaxwidth'
    'body': 'ScaleMaxWidth(${1:width})${0}'
  'Scale Height Image 3.2+':
    'prefix': 'scaleheight'
    'body': 'ScaleHeight(${1:height})${0}'
  'Scale Max Height Image 3.2+':
    'prefix': 'scalemaxheight'
    'body': 'ScaleMaxHeight(${1:height})${0}'
  'Fit Image 3.2+':
    'prefix': 'fit'
    'body': 'Fit(${1:width},${2:${1:height}})${0}'
  'Fit Max Image 3.2+':
    'prefix': 'fitmax'
    'body': 'FitMax(${1:width},${2:${1:height}})${0}'
  'Fill Image 3.2+':
    'prefix': 'fill'
    'body': 'Fill(${1:width},${2:${1:height}})${0}'
  'Fill Max Image 3.2+':
    'prefix': 'fillmax'
    'body': 'FillMax(${1:width},${2:${1:height}})${0}'
  'Crop Width Image 3.2+':
    'prefix': 'cropwidth'
    'body': 'CropWidth(${1:width})${0}'
  'Crop Height Image 3.2+':
    'prefix': 'cropheight'
    'body': 'CropHeight(${1:width})${0}'
  'Pad Image 3.2+':
    'prefix': 'pad'
    'body': 'Pad(${1:width},${2:${1:height}},${3:hex})${0}'
  # Image manipulation 3.0 - 3.1
  'Set Width Image 3.0 - 3.1':
    'prefix': 'setwidth'
    'body': 'SetWidth(${1:width})${0}'
  'Set Height Image 3.0 - 3.1':
    'prefix': 'setheight'
    'body': 'SetHeight(${1:height})${0}'
  'Set Size Image 3.0 - 3.1':
    'prefix': 'setsize'
    'body': 'SetSize(${1:width},${2:${1:height}})${0}'
  'Set Ratio Size Image 3.0 - 3.1':
    'prefix': 'setratiosize'
    'body': 'SetRatioSize(${1:width},${2:${1:height}})${0}'
  'Cropped Image 3.0 - 3.1':
    'prefix': 'croppedimage'
    'body': 'CroppedImage(${1:width},${2:${1:height}})${0}'
  'Padded Image 3.0 - 3.1':
    'prefix': 'paddedimage'
    'body': 'PaddedImage(${1:width},${2:${1:height}},${3:hex})${0}'
  # Image General
  'Image Width':
    'prefix': 'width'
    'body': 'Width'
  'Image Height':
    'prefix': 'height'
    'body': 'Height'
  'Image Orientation':
    'prefix': 'orientation'
    'body': 'Orientation'
  'Image Filename':
    'prefix': 'filename'
    'body': 'Filename'
  'Image URL':
    'prefix': 'url'
    'body': 'URL'
