'silverstripe/framework':
  '{version} < 3.0': 'ssf_2-4'
  '{version} == 3.0': 'ssf_3-0'
  '{version} >= 3.0': 'ssf_3-0_'
  '{version} >= 3.0 && {version} <= 3.1': 'ssf_3-0_3-1'
  '{version} >= 3.0 && {version} < 4': 'ssf_3-0_3-9'
  '{version} >= 3.1': 'ssf_3-1_'
  '{version} >= 3.2': 'ssf_3-2_'
  '{version} >= 4.0': 'ssf_4-0_'
'jonom/focuspoint':
  '{version} < 2.0': 'fp_1'
  '{version} >= 2.0': 'fp_2'
'sheadawson/silverstripe-linkable':
  '{version} >= 1.0': 'lnkfl_1'
'bummzack/sortablefile':
  '{version} >= 1.0': 'srtfl_1'
'silverstripe/tagfield':
  '{version} >= 1.0': 'tagfl_1'
'silverstripe-australia/gridfieldextensions':
  '{version} >= 1.0': 'gridfl_1'
'undefinedoffset/sortablegridfield':
  '{version} >= 1.0': 'sortgridfl_1'
'unclecheese/betterbuttons':
  '{version} >= 1.0': 'betterbuttons_1'
