@font-face {
  font-family: 'ssicon';
  src: url('atom://atom-silverstripe/resources/font/ss.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}

// SS icon
.icon-ss:before,
.icon-file-text[data-name$=".ss"]:before{
  font-family: 'ssicon';
  content: '\e800';
}

.suggestion-ss .icon.snippet{
  color: #fff;
  background-color: rgba(106,159,181,0.2);
  text-align: center;
}
