@font-face {
  font-family: 'ssicon';
  src: url('atom://atom-silverstripe/resources/font/ssicon.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

// SS icon
.icon-ss:before,
.icon-file-text[data-name$=".ss"]:before{
  content: '\f101';
  font-family: 'ssicon';
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

.suggestion-ss .icon.snippet{
  color: #fff;
  background-color: rgba(106,159,181,0.2);
  text-align: center;
}
